{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1 class="display-5 fw-bold text-danger">{% trans "Confirm Deletion" %}</h1>
<p class="lead">
    {% blocktrans with game_title=review.library_entry.platform_game.master_game.title %}
    Are you sure you want to delete your review for <strong>{{ game_title }}</strong>?
    {% endblocktrans %}
</p>
<p class="text-muted">{% trans "This action cannot be undone." %}</p>


<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Yes, Delete" %}</button>
    <a href="{% url 'game_detail' review.library_entry.id %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
</form>
{% endblock %}
